.App {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  min-height:100vh;
  background-color: #282c34;
}

.fetched-wrapper{
  display:flex;
  justify-content: center;
  align-items:center;  
  flex-wrap:wrap; 
}
.fetched__item{
  padding:10px;
  margin:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /* min-width:23%;   */
  background-color:rgb(27, 27, 27);
 
}
.fetched__image{
  max-height: 500px;
  min-height: 500px;
  overflow:hidden;
}

.fetched__image img{
  display:block;
  width:90% !important;
}
.fetched__title{
  color:white;    
}
.btn-fetch{
  cursor:pointer;
  margin-bottom:10px;
  padding:10px 20px;
  background-color: orangered;
  color:white;
  border:0px;
  outline:none;
  transition:all 300ms ease-in-out;
}
.btn-fetch:hover{
  background-color:orange;
}